@font-face {
  font-family: "BasierCircleMono";
  src: url("/src/assets/fonts/basiercirclemono-regular-webfont.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}
